body{
background-color:#3AA1B8;
font-family: Arial, sans-serif;
text-align: center;

}

h1{
width:342px
height:62px;
color: #FFF;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;

}

p{
font-size: 16px;
color: #666;
}

.confer{
align-items: center;
border-radius: 10px;
background:#D9D9D9;
}

.item{
font-size: 16px;
background:#D9D9D9;
}